
/* Graph List View
-----------------------------------------------------------------------------------------------------------*/

#graph-list-control .align {
    width: 49%;
    display: inline-block;
}

#graph-list-control {
    display: block;
    width: 100%;
}

#history-control {
    width: 230px;
    height: 55px;
    display: inline-block;
}

#history-control a, #graph-list-control .ui-select {
    margin: .5%;
}

#history-control-stream {
    width: 50px;
}

#history-control div {
    text-align: center;
}

#history-control a.time {
    width: 65px;
    height: 35px;
    border-radius: 0.3em;
}

#time-window-control {
    float: right;
}

#time-window-control .ui-btn {
    height: 20px;
}

#time-window-control span {
    padding: 3px;
}

.graph-button {
    display: inline-block;
    width: 150px;
}

#add-metric-btn {
    display: inline-block;
}

/* Conditional for < 400px */
@media only screen and  (max-width: 400px) {
    .graph-button {
        width: 45%;
    }
    .graph-button .ui-btn {
        font-size: 0.7em;
    }
}


#bottom-history {
    position: relative;
    bottom: 20px;
}

#top-history {
    margin-top: 20px;
}

.graph .header *,
.graph .legend * {
    display: inline-block;
}
